<div class="create-group-form p-3">
  <div class="form-name mb-3">
    <label for="groupName" class="form-label">Group Name</label>
    <input type="text" class="form-control" id="groupName" placeholder="Group Name" #groupNameInput>
    <small class="text-danger">{{ message }}</small>
  </div>
  <div class="btns d-flex justify-content-end">
    <button class="btn btn-danger me-2" (click)="activeModal.close()">
      Cancel
    </button>
    <button class="btn btn-success" (click)="createNewGroup(groupNameInput.value)">
      Create
    </button>
  </div>