<div class="create-group-form p-3 row g-0">
  <div class="image-selector col-4">

  </div>
  <div class="col-8">
    <div class="form-name mb-3">
      <label for="groupName" class="form-label">Group Name</label>
      <input type="text" class="form-control" id="groupName" placeholder="Group Name">
    </div>
    <div class="btns d-flex justify-content-end">
      <button class="btn btn-danger me-2" (click)="activeModal.close()">
        Cancel
      </button>
      <button class="btn btn-success">
        Create
      </button>
    </div>
  </div>
</div>