<div class="toolbar-container w-100 p-1 d-flex align-items-center justify-content-between">
  <div class="form-wrapper w-100">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [ngModel]="searchValue" (ngModelChange)="onSearchChange($event)">
  </div>
  <button *ngIf="havePermission" class="btn btn-primary add-btn ms-1 d-flex align-items-center justify-content-center" (click)="openCreateGroupForm()">
    <span class="material-symbols-rounded">
      add
    </span>
  </button>
</div>