.member-bar {
  height: 50px;
  .member-info {
    .member-profile-pic {
      width: 40px;
      height: 40px;
      img {
        border-radius: 50%;
      }
      span {
        font-size: 40px;
      }
    }
  }
  .member-bar-wrapper {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
}

.member-bar-hover:hover {
  background-color: #f8f9fa !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; 
}