.notification-call {
    background-color: darkgray;
    border-radius: 10px;
}
.name-group {
    text-align: center;
    color: white;
    margin: 20px 0;
    font-size: 20;
    font-weight: 600;

}
.text-content {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.btn-action {
    margin: 0 50px;
    // justify-content: flex-end;
}