<div class="w-100 h-100 d-flex flex-column">
  <div class="user-bar bg-secondary d-flex justify-content-between">
    <div class="user-info d-flex align-items-center">
      <div class="user-profile-pic h-100 d-flex align-items-center ms-2 me-2">
        <img [src]="user.profileImage || '../../../../assets/default-profile-icon-24.jpeg'" [alt]="user.username">
      </div>
      <div class="username me-2 text-white">{{ user.username }}</div>
      <div class="user-role d-flex align-items-center">
        <span class="badge text-white {{ user.role === 'super' ? 'bg-warning' : (user.role === 'groupadmin' ? 'bg-primary' : user.role === 'groupassis' ? 'bg-info' : 'bg-dark') }}">{{ user.role || 'n/a'}}</span>
      </div>
    </div>
    <div class="user-btns d-flex">
      <div class="user-edit-btn h-100">
        <button class="btn btn-primary w-100 h-100 rounded-0">
          <span class="material-symbols-rounded">
            edit_square
          </span>
        </button>
      </div>
      <div class="user-logout-btn h-100">
        <button class="d-flex align-items-center btn btn-danger w-100 h-100 rounded-0">
          <span class="material-symbols-rounded">
            logout
          </span>
        </button>
      </div>
    </div>
  </div>
  <app-chat-toolbar (createGroup)="openCreateGroupModal()"></app-chat-toolbar>
  <div class="conversations">
    <app-group-bar *ngFor="let group of groups" [group]="group" (click)="selectedGroup = group" [isSelected]="selectedGroup == group"></app-group-bar>
  </div>
</div>