<div class="group-bar w-100 mb-1" type="button">
  <div class="group-bar-hover group-bar d-flex justify-content-between mx-2 rounded-3 {{ isSelected ? 'bg-light group-bar-wrapper' : '' }}">
    <div class="group-info d-flex align-items-center">
      <div class="group-profile-pic d-flex align-items-center ms-4 me-2">
        <span class="material-symbols-rounded">
          {{ group ? 'groups' : 'chat' }}
        </span>
      </div>
      <div class="group-name me-2 text-dark">
        {{ group?.name || channel?.name }}
      </div>
    </div>
    <!-- <div class="read-status position-relative me-3">
      <span class="position-absolute top-50 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" *ngIf="!isRead">
        <span class="visually-hidden">New alerts</span>
      </span>
    </div> -->
  </div>
</div>