<div class="group-bar w-100 border-bottom my-1" type="button">
  <div class="group-bar bg-light d-flex justify-content-between">
    <div class="group-info d-flex align-items-center">
      <div class="group-profile-pic d-flex align-items-center ms-2 me-2">
        <img class="w-100 h-100" [src]="'../../../../assets/default-profile-icon-24.jpeg'">
      </div>
      <div class="group-name me-2 text-dark">
        Group Name
      </div>
    </div>
    <div class="read-status position-relative me-3">
      <span class="position-absolute top-50 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
      </span>
    </div>
  </div>
</div>